// On hover color & background-color reverse. Keeping it DRY!
@mixin color-background-button($color, $background-color) {
	background-color: $background-color;
	border-color: $color;
	color: $color;
	&:hover {
		background-color: $color;
		color: $background-color;
	}
}
@mixin secondary-button($color, $text-color, $amount) {
	background-color: $color;
	color: $text-color;
	&:hover {
		background-color: darken($color, $amount);
		color: $text-color;
	}
}