body {
	background-color: $white;
}
.bold {
	font-weight: 600;
}
.black-background {
	background-color: $black;
	color: $white;
	h5 {
		color: $white;
	}
}
.button-section {
	padding-top: .5rem;
	padding-bottom: 2rem;
	text-transform: uppercase;
	h5 {
		margin-bottom: -1rem;
		font-weight: 600;
	}
}