body {
	background-color: $white;
}
.black-background {
	background-color: $black;
	color: $white;
	h5 {
		color: $white;
	}
}
.button-section {
	padding-top: .5rem;
	padding-bottom: 2rem;
	text-transform: uppercase;
}