#desktop-nav.show-for-large-up
  ul
    li
      a about
    li
      a accelerator
    li
      a lunar project
    li
      a programs
    li
      a contact
#mobile-nav.hide-for-large-up
  button.menu-button#trigger-overlay Menu &#x2261;
  hr
